numpy>=1.22
pandas
pyomo
pint
pyyaml
scipy
networkx

# For documentation:
# mkdocs
# mkdocs-open-in-new-tab
# mkdocs-material
# mkdocstrings
# mkdocstrings_handlers
# mkdocs-plotly-plugin
# mkdocs-table-reader-plugin
# mkdocs-macros-plugin
# mkdocs-glightbox
# mike

# For testing:
# pytest


# For export:
# plotly