numpy
pandas
pyomo
pint
pyyaml
scipy

# For documentation:
# mkdocs
# mkdocs-open-in-new-tab
# mkdocs-material
# mkdocstrings
# mkdocstrings_handlers
# mkdocs-plotly-plugin
# mkdocs-table-reader-plugin
# mkdocs-macros-plugin


# For export:
# plotly