.param_group .param_content {
    padding-left: 30px;
    border-left: 3px solid #f0f0f0;
}

.param_group .param_group_breadcrumbs {
    color: #CCC;
}

[data-md-color-scheme="slate"] {
    .param_group {
        .param_content {
            border-left-color: #555;
        }

        .param_group_breadcrumbs {
            color: #666;
        }
    }
}

.param_anchor {
    margin-top: -3em;
    padding-top: 2em;
    display: block;
}